## 1. Upload the Data
## 2. Cleaning missing data
## 3. Standarizing crop/country names
## 4. Handing outliers
## 5. Plotting trends

!dir

In [ ]:
!ls

In [ ]:
import pandas as pd

In [ ]:
df_all = pd.read_csv('Production_Crops_Livestock_E_All_Data.csv', low_memory=False)

In [ ]:
df_all.shape

In [ ]:
df_all.columns

In [ ]:
df_all.head(10)

In [ ]:
print(df_all['Unit'].unique())

In [ ]:
len(df_all['Area'].unique())

In [ ]:
print(df_all['Area'].unique())

In [ ]:
print(df_all['Element'].unique())

In [ ]:
## check missing data; Quick summary of nulls per column
df_all.isnull().sum()

In [ ]:
# Percentage of missing values per column
print((df_all.isnull().mean()*100).round(2))

In [ ]:
df_all = df_all.dropna(subset=['Area Code', 'Area Code (M49)', 'Area'])

In [ ]:
df_all.columns

In [ ]:
df_all['Unit'] = df_all['Unit'].fillna('unknown')

In [ ]:
##3.Standarizing crop/country names
df_all['Area'].unique()

In [ ]:
country_list ={
    'Syrian Arab Republic' : 'Syria',
    'Venezuela (Bolivarian Republic Of)': 'Venezuela',
    'United Republic Of Tanzania': 'Tanzania',
    'Netherlands (Kingdom Of The)' : 'Netherlands'
     }

In [ ]:
df_all['Area'] = df_all['Area'].replace(country_list)

In [ ]:
print(df_all['Area'])

In [ ]:
df_all['Item'].unique()

In [ ]:
#  Handle outliers:
from scipy import stats

In [ ]:
print(df_all.columns.tolist())

In [ ]:
df_head=df_all.head(10)

In [ ]:
df_head = pd.melt(
                  df_all, 
                  id_vars=['Area','Item', 'Element', 'Unit'],
                  var_name='Year',
                  value_name='Value')

In [ ]:
df_head

In [ ]:
ls

In [ ]:
import pandas as pd

In [ ]:
df_all=pd.read_csv("Production_Crops_Livestock_E_All_Data.csv", low_memory=False)

In [ ]:
df_all.head(2)

In [ ]:
year_columns = [col for col in df_all.columns if col.startswith("Y")]
df_melted1= pd.melt(
                   df_all,
                   id_vars =['Area', 'Item'],
                   )

In [ ]:
df_melted1.head(5)

In [ ]:
year_columns = [col for col in df_all.columns if col.startswith("Y")]
df_melted= pd.melt(
                   df_all,
                   id_vars =['Area', 'Item'],
                   value_vars = year_columns,
                   var_name = 'Year',
                   value_name = 'Value')
df_melted['Year'] = df_melted['Year'].str.extract(r'Y(\d{4})')[0].astype(int)
df_melted = df_melted.dropna(subset=['Value'])
df_melted = df_melted[df_melted['Value'] != 0]

In [ ]:
df_melted.head(5)

In [ ]:
data_wheat = df_melted[df_melted['Item'] == 'Wheat']

In [ ]:
data_wheat.head(5)

In [ ]:
data_wheat['Value'] = pd.to_numeric(data_wheat['Value'], errors = 'coerce') 
data_wheat = data_wheat.dropna(subset = 'Value')

In [ ]:
data_wheat.head(5)

In [ ]:
trend_wheat = data_wheat.groupby('Year')['Value'].sum().reset_index()

In [ ]:
trend_wheat

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
#plt.figure(figsize=(10, 5))
plt.figure(figsize=(10, 5))
sns.lineplot(data= trend_wheat, x = 'Year', y= 'Value')
plt.title('Global Wheat Production over Time')
plt.xlabel('Year')
plt.ylabel('Production(tones)')
plt.grid(True)
plt.show()

In [ ]:
ls

In [ ]:
df_all.head(5)

In [ ]:
# reshape the data (wide –––––––––> long format):
df_all['Element'].unique

In [ ]:
data_wheat = df_all[
    (df_all['Item'] == 'Wheat')&
    (df_all['Element'] == 'Production')
]
# melt the year columns into one:
year_columns = [col for col in data_wheat.columns if col.startswith("Y")]
wheat_long= pd.melt(
                    data_wheat,
                    id_vars= ['Area', 'Item', 'Element', 'Unit'],
                    value_vars = year_columns,
                    var_name = 'Year',
                    value_name = 'Value')
wheat_long["Year"] = wheat_long["Year"].str.extract(r"(\d{4})").astype(int)
wheat_long = wheat_long.dropna(subset = 'Value')

In [ ]:
print(wheat_long['Value'].dtype)

In [ ]:
wheat_long['Value'] = pd.to_numeric(wheat_long['Value'], errors = 'coerce')

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
plt.figure(figsize=(12, 6))
sns.lineplot(data = wheat_long.groupby('Year')['Value'].sum().reset_index(), x = 'Year', 
             y= 'Value')
plt.title('Global wheat production over Time')
plt.ylabel(' Production(tonnes')
plt.xlabel('Year')
plt.tight_layout()
plt.show()

In [ ]:
# identify top 10 wheat producers in 2022
wheat_2022 = wheat_long[wheat_long['Year'] == 2022]
top_countries = wheat_2022.groupby('Area')['Value'].sum().sort_values(ascending = False).head(20)
plt.figure(figsize=(12, 6))
sns.barplot(x= top_countries.values, y= top_countries.index, palette='viridis')
plt.tight_layout()

In [ ]:
top_countries

In [ ]:
wheat_2022

In [ ]:
wheat_long

In [ ]:
# compare yieled (production/area) across regions:
df_all['Element'] == 'Production'

In [ ]:
# delete and handle duplicates:
duplicates = df_all.duplicated()
print(f"Number of dublicated rows: {duplicates.sum()}")

In [ ]:
# remove dublicated rows:
df_all= df_all.drop_duplicates(subset=["Area", "Item", "Element"])
#df_all

In [ ]:
#fix mixed data:
year_cols = [col for col in df_all.columns if col.startswith("Y") and col[1:5].isdigit()]
id_cols= ['Area', 'Item', 'Element', 'Unit']
df_all_clean= df_all[id_cols + year_cols]

In [ ]:
df_all.head(1)

In [ ]:
df_all.head(2)

In [ ]:
#Convert year columns to proper long foramt:
year_columns =  [col for col in df_all.columns if col.startswith("Y")]
df_all_long= pd.melt(
                      df_all,
                     id_vars = ["Area", "Item", "Element", "Unit"],
                     value_vars = year_columns, 
                     var_name = "Year")
df_all_long["Year"] = df_all_long["Year"].str.extract(r'Y(\d{4})')[0].astype(int)

In [ ]:
df_all_long= df_all_long.dropna(subset= 'value')
df_all_long = df_all_long[df_all_long['value'] != 0]

In [ ]:
df_melted['Year'] = df_melted['Year'].str.extract(r'Y(\d{4})')[0].astype(int)
df_melted = df_melted.dropna(subset=['Value'])
df_melted = df_melted[df_melted['Value'] != 0]

In [ ]:
df_all_long

In [ ]:
print(df_all_long['value'].dtype)

In [ ]:
df_all_long['value'] = pd.to_numeric(df_all_long['value'], errors = 'coerce')

In [ ]:
df_all_long

In [ ]:
Q1= df_all_long['value'].quantile(0.25)
Q3= df_all_long['value'].quantile(0.75)
IQR = Q3-Q1

In [ ]:
IQR

In [ ]:
lower_bound = Q1-1.5*IQR
upper_bound = Q3+1.5*IQR

In [ ]:
lower_bound

In [ ]:
upper_bound

In [ ]:
# missing values interpolate or fill:
df_all_long['value']= df_all_long.groupby(['Area', 'Item'])['value'].transform(lambda x:x.ffill().bfill())

In [ ]:
df_all_long